/* #SabrosaApp{
  color: brown;
  background-color: #e7d9cc;
} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(153, 80, 47);
  color: white;
}

.nav-links{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
