#title{
    text-align: center;
}
::placeholder{
  color: white;
}

#background{
  background-image: url("https://i.imgur.com/ByN5emh.png");
  background-size: 1270px 780px;
  position: fixed;
  margin-left: 120px;
  width: 1275px;
  height: 1100px; 
  background-repeat: no-repeat;
}

  .formPublishRecipe{
    background-color: #ffad66;
    /* background: linear-gradient(#e6ba97, #c2956c); */
    padding: 40px;
    border-radius: 5px;
    width: 430px;
    height: 330px;
    display: block;
    text-align: center;
    margin-left: 40%;
    overflow: hidden;
    /* margin-right: auto; */
    /* margin-top: 13%; */
    /* box-shadow: 10px 10px 5px grey; */
  }
  
  .recipeNameBox{
    background-color: #6d3b12;
    border-radius: 10px;
    color: white;
    width: 80%;
    height: 20%;
}

.descriptionBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 40%;
}

.imageBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 10%;
}

#nextButton{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.formWithStepsAndIngredients{
  background: linear-gradient(#e6ba97, #c2956c);
  /* background-image: url("https://i.imgur.com/NJugMFp.png"); */
  overflow: scroll;
  /* overflow-x: hidden; */
  background-color: #f0dbc8;
  padding: 40px;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  display: block;
  text-align: center;
  margin-left: 52%;
  /* margin-right: auto;
  margin-top: 6%;
  box-shadow: 5px 5px 5px grey; */
}

#imgWithStepsAndIngredients{
  width: 300px;
  height: 300px;
}
  /* .formPublishRecipe form { */
    /* display:table-column; */
    /* justify-content: center; */
  
  /* .formPublishRecipe input { */
    /* margin-right: 2rem;
    flex: 1; */
  /* } */
  
  /* .formPublishRecipe button {
    width: 150px;
  } */


  /* for the favorite button */
  /* .h_container{
    background-color: #cac7c7;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: inline-block;
    width:35px;
    height:35px;
    text-align:center;
    line-height:45px;
}
#heart{
    font-size: 25px;
}
#heart:hover{
    color:red;
} */

/* #forBackground{
  background-image: url("https://i.imgur.com/ByN5emh.png");
} */

.stepsBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 10%;
}

#addStepsButton{
    color: white;
    border-style: hidden;
    background-color: #754728;
    border-radius: 15px;
    box-shadow: 0 4px rgb(145, 143, 143);
    z-index: 6;
    width: 40px;    
}

#addStepsButton:hover{
    background-color: #fdc48e;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#cancelStepButton{
  color: white;
  border-style: hidden;
  background-color: #754728;
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  z-index: 6;
  width: 85px;  
}

#cancelStepButton:hover{
  background-color: #fdc48e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submitStepsButton{
  color: white;
  border-style: hidden;
  background-color: #754728;
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  z-index: 6;
  width: 85px;
}

#submitStepsButton:hover{
  color: brown;
  background-color: #c39e7c;
}

.ingredientBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 10%;
}

#addIngredientButton{
  color: white;
  border-style: hidden;
  background-color: #754728;
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  z-index: 6;
  width: 40px;    
}

#addIngredientButton:hover{
  background-color: #fdc48e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#cancelIngredientButton{
color: white;
border-style: hidden;
background-color: #754728;
border-radius: 15px;
box-shadow: 0 4px rgb(145, 143, 143);
z-index: 6;
width: 85px;  
}

#cancelIngredientButton:hover{
background-color: #fdc48e;
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submitIngredientsButton{
  color: white;
  border-style: hidden;
  background-color: #754728;
  border-radius: 15px;
  box-shadow: 0 4px rgb(145, 143, 143);
  z-index: 6;
  width: 85px; 
}


#submitIngredientsButton:hover{
  color: #c39e7c;
}

/* #tapepic{
    background-image: url("https://i.imgur.com/NJugMFp.png");
    position: flex;
   padding-top: 20%;
   background-size: 100px;
   background-repeat: no-repeat;
} */

h2{
  font-size: 30px;
  padding-top: 20px;
}