/* SOME OF THE CSS FOR THE LINKS AND COMPANY NAME ARE IN APP.CSS */

#link1{
    color:white;
    text-decoration: none;
}

#link1:hover{
    color:black;
}

#link2{
    color:white;
    text-decoration: none;
    
}

#link2:hover{
    color:black;
}

#link3{
    color:white;
    text-decoration: none;
    
}

#link3:hover{
    color:black;
}

#link4{
    color:white;
    text-decoration: none;
    
}

#link4:hover{
    color:black;
}

#link5{
    color:white;
    text-decoration: none;
    
}

#link5:hover{
    color:black;
}