/* .card{
    list-style: none;
}

.card {
    margin: 1rem;
  }
  
  .card img {
    width: 100%;
  }
  
  .card button {
    margin-top: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33% - 2rem);
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: calc(25% - 2rem);
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: calc(20% - 2rem);
    }
  } */

  #updateform{
    background-color: c3c8fd;
    border: 6px solid #9e6316;
    /* margin-top: -28%; */
    /* margin-left: 60%; */
    height: 200px;
    width: 1000px;
}

 /* .card {
  padding: 20px;
  margin: 0.5rem;
  text-align: center;
  background-color: #fdf5eb;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  flex: 1;
  width: 300px;
  height: 320px;
  border-radius: 20%;
} */



/* #recipeCardDetails{
  overflow: hidden;
  border: 2px solid black;
  border-radius: 0 6px 6px;
}

.card-body {
  padding: .2rem 1rem;
}

.recipe-name{
  margin: 0;
  padding: .3rem 1rem;
} */

#recipeImgs{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.recipeCardDetails{
  max-width: 300px;
  margin-top: 20vh;
  border: 2px solid rgb(161, 158, 158);
  border-radius: 5px;
}

.recipeCardDetails:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#updateform{
  background-color: #c39e7c;
    padding: 40px;
    border-radius: 5px;
    width: 480px;
    height: 330px;
    display: block;
    text-align: center;
    margin-left: 60%;
    /* margin-right: auto; */
    /* margin-top: 13%; */
    box-shadow: 10px 10px 5px grey;
}

.editNameBox{
    background-color: #6d3b12;
    border-radius: 10px;
    color: white;
    width: 70%;
    height: 10%;
}

.editImageBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 10%;
}

.editDescriptionBox{
  background-color: #6d3b12;
  border-radius: 10px;
  color: white;
  width: 70%;
  height: 10%;
}
